In [14]:
# Importing modules
import csv
from xlsxwriter.workbook import Workbook

import pandas as pd

In [15]:
# title.akas.tsv.gz to get movie_id, movie_name, country

# Read TSV file into DataFrame
df1 = pd.read_table('title.akas.tsv.gz')
#print(df)

# Error: Your sheet size is: 33475127, 8 Max sheet size is: 1048576, 16384
# drop rows but still get 30 million rows
df1 = df1[0:30000000] 
print(df1)

# drop rows with null values
df1.dropna()

# rename column titles to match attribute names --> old:new
df1.rename(columns = {'titleId':'movie_id', 'title':'movie_name', 'region':'country'}, inplace = True)


# delete rows with movie_id duplicates and keep US version
duplicates = df1.duplicated(subset=['movie_id'])
if duplicates.any():
    deleteRow = df1[df1['country'] != 'US'].index
    df1.drop(deleteRow, inplace=True)
    # if duplicates in movie_id still, then keep the first one 
    df1 = df1.sort_values('ordering', ascending=False).drop_duplicates('movie_id').sort_index()
    
# columns to get rid of from this sheet:
del df1['ordering']
del df1['language']
del df1['types']
del df1['attributes']
del df1['isOriginalTitle']

print(df1)

# create excel writer object
#writer = pd.ExcelWriter('movies_test1.xlsx') 
# write dataframe to excel
#df1.to_excel(writer)
# save the excel
#writer.save()
print('DataFrame is written successfully to Excel File.')

C:\Users\isabe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

            titleId  ordering                      title region language  \
0         tt0000001         1                 Карменсіта     UA       \N
1         tt0000001         2                 Carmencita     DE       \N
2         tt0000001         3  Carmencita - spanyol tánc     HU       \N
3         tt0000001         4                 Καρμενσίτα     GR       \N
4         tt0000001         5                 Карменсита     RU       \N
...             ...       ...                        ...    ...      ...
29999995  tt7994228         4                エピソード #1.32     JP       ja
29999996  tt7994228         5              Épisode #1.32     FR       fr
29999997  tt7994228         6             Episódio #1.32     PT       pt
29999998  tt7994228         7             Episodio #1.32     ES       es
29999999  tt7994230         1             Episodio #1.33     IT       it

                types     attributes isOriginalTitle
0         imdbDisplay             \N               0
1                  \N  literal title               0
2         imdbDisplay             \N               0
3         imdbDisplay             \N               0
4         imdbDisplay             \N               0
...               ...            ...             ...
29999995           \N             \N               0
29999996           \N             \N               0
29999997           \N             \N               0
29999998           \N             \N               0
29999999           \N             \N               0

[30000000 rows x 8 columns]
           movie_id                        movie_name country
5         tt0000001                        Carmencita      US
14        tt0000002            The Clown and His Dogs      US
33        tt0000005                  Blacksmith Scene      US
47        tt0000006                 Chinese Opium Den      US
56        tt0000007    Jim Corbett vs. Peter Courtney      US
...             ...                               ...     ...
29999869  tt7994128               The Legend of Lloyd      US
29999875  tt7994144                       The Elusive      US
29999883  tt7994154                            Upbeat      US
29999903  tt7994182  Passing Stories by A.j. Franklin      US
29999905  tt7994184         Lesbian Babes 'n' Toyland      US

[1196068 rows x 3 columns]
DataFrame is written successfully to Excel File.

In [16]:
# title.crew.tsv.gz to get director, movie_id

# Read TSV file into DataFrame
df2 = pd.read_table('title.crew.tsv.gz')
#print(df2)

# limit df size (number of rows printing)
#Your sheet size is: 9297065, 9 Max sheet size is: 1048576, 16384
df2 = df2[0:1048576]  
print(df2)

# drop rows with null values
df2.dropna()

# rename column titles to match attribute names --> old:new
df2.rename(columns = {'tconst':'movie_id', 'directors':'director'}, inplace = True)

# columns to get rid of from this sheet: 
del df2['writers']

print(df2)

# create excel writer object
writer = pd.ExcelWriter('movies_test2.xlsx') 
# write dataframe to excel
df2.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

             tconst                      directors  \
0         tt0000001                      nm0005690
1         tt0000002                      nm0721526
2         tt0000003                      nm0721526
3         tt0000004                      nm0721526
4         tt0000005                      nm0005690
...             ...                            ...
1048571  tt10145456                      nm0348485
1048572  tt10145458                      nm0348485
1048573   tt1014545  nm1656218,nm0148681,nm0604037
1048574  tt10145460                      nm0348485
1048575  tt10145462                      nm0348485

                                                   writers
0                                                       \N
1                                                       \N
2                                                       \N
3                                                       \N
4                                                       \N
...                                                    ...
1048571            nm5744244,nm6415457,nm6446509,nm6415456
1048572            nm5744244,nm6415457,nm6446509,nm6415456
1048573  nm0604037,nm1459402,nm1644600,nm0246511,nm2730762
1048574            nm5744244,nm6415457,nm6446509,nm6415456
1048575            nm5744244,nm6415457,nm6446509,nm6415456

[1048576 rows x 3 columns]
           movie_id                       director
0         tt0000001                      nm0005690
1         tt0000002                      nm0721526
2         tt0000003                      nm0721526
3         tt0000004                      nm0721526
4         tt0000005                      nm0005690
...             ...                            ...
1048571  tt10145456                      nm0348485
1048572  tt10145458                      nm0348485
1048573   tt1014545  nm1656218,nm0148681,nm0604037
1048574  tt10145460                      nm0348485
1048575  tt10145462                      nm0348485

[1048576 rows x 2 columns]
DataFrame is written successfully to Excel File.

In [17]:
# name.basics.tsv.gz for actors

# Read TSV file into DataFrame
#df3 = pd.read_table('name.basics.tsv.gz')
#print(df2)

# limit df size (number of rows printing)
#Your sheet size is: 9297065, 9 Max sheet size is: 1048576, 16384
#df3 = df3[0:1048576] 
#print(df3)

# drop rows with null values
#df3.dropna()

# rename column titles to match attribute names --> old:new
#df3.rename(columns = {'tconst':'movie_id', 'directors':'director'}, inplace = True)
  
# columns to get rid of from this sheet: writers
#del df3['writers']

# create excel writer object
#writer = pd.ExcelWriter('movies_test3.xlsx') # user smaller data set just to see what cols want
# write dataframe to excel
#df3.to_excel(writer)
# save the excel
#writer.save()
#print('DataFrame is written successfully to Excel File.')

In [18]:
# title.basics.tsv.gz for release_year, genre, length 

# Read TSV file into DataFrame
df4 = pd.read_table('title.basics.tsv.gz')
#print(df2)

# limit df size (number of rows printing)
# Your sheet size is: 9297065, 4 Max sheet size is: 1048576, 16384
df4 = df4[0:1048576] 
print(df4)

# drop rows with null values
df4.dropna()

# rename column titles to match attribute names --> old:new
df4.rename(columns = {'tconst':'movie_id', 'startYear':'release_year', 'runtimeMinutes':'length', 'genres':'genre'}, inplace = True)

# drop rows with titleType not as movie 
df4.drop(df4[df4['titleType'] != 'movie'].index, inplace=True)
#df4.drop(df4[df4['titleType'] != 'tvMovie'].index, inplace=True)
    
# columns to get rid of from this sheet: 
del df4['titleType']
del df4['primaryTitle']
del df4['originalTitle']
del df4['isAdult']
del df4['endYear']

# create excel writer object
writer = pd.ExcelWriter('movies_test4.xlsx') 
# write dataframe to excel
df4.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

C:\Users\isabe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             tconst  titleType            primaryTitle  \
0         tt0000001      short              Carmencita
1         tt0000002      short  Le clown et ses chiens
2         tt0000003      short          Pauvre Pierrot
3         tt0000004      short             Un bon bock
4         tt0000005      short        Blacksmith Scene
...             ...        ...                     ...
1048571  tt10145456  tvEpisode           Episode #1.27
1048572  tt10145458  tvEpisode           Episode #1.28
1048573   tt1014545  tvEpisode            El secuestro
1048574  tt10145460  tvEpisode           Episode #1.29
1048575  tt10145462  tvEpisode           Episode #1.30

                  originalTitle isAdult startYear endYear runtimeMinutes  \
0                    Carmencita       0      1894      \N              1
1        Le clown et ses chiens       0      1892      \N              5
2                Pauvre Pierrot       0      1892      \N              4
3                   Un bon bock       0      1892      \N             12
4              Blacksmith Scene       0      1893      \N              1
...                         ...     ...       ...     ...            ...
1048571           Episode #1.27       0      2014      \N             \N
1048572           Episode #1.28       0      2014      \N             \N
1048573            El secuestro       0      2004      \N             \N
1048574           Episode #1.29       0      2014      \N             \N
1048575           Episode #1.30       0      2014      \N             \N

                           genres
0               Documentary,Short
1                 Animation,Short
2        Animation,Comedy,Romance
3                 Animation,Short
4                    Comedy,Short
...                           ...
1048571                     Drama
1048572                     Drama
1048573                    Comedy
1048574                     Drama
1048575                     Drama

[1048576 rows x 9 columns]
DataFrame is written successfully to Excel File.

In [19]:
# title.ratings.tsv.gz for ratings

# Read TSV file into DataFrame
df5 = pd.read_table('title.ratings.tsv.gz')
#print(df2)

# limit df size (number of rows printing)
# Your sheet size is: 1237940, 2 Max sheet size is: 1048576, 16384
df5 = df5[0:1048576] 
print(df5)

# drop rows with null values
df5.dropna()

# rename column titles to match attribute names --> old:new
df5.rename(columns = {'tconst':'movie_id', 'averageRating':'ratings'}, inplace = True)
  
# columns to get rid of from this sheet: 
del df5['numVotes']

# create excel writer object
writer = pd.ExcelWriter('movies_test5.xlsx') 
# write dataframe to excel
df5.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

            tconst  averageRating  numVotes
0        tt0000001            5.7      1919
1        tt0000002            5.8       260
2        tt0000003            6.5      1725
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1048571  tt5563752            7.8         7
1048572  tt5563764            6.0        42
1048573  tt5563782            4.9      2592
1048574  tt5563806            7.8        11
1048575  tt5563862            4.7      1251

[1048576 rows x 3 columns]
DataFrame is written successfully to Excel File.

In [20]:
# title.principals.tsv.gz for actors

# Read TSV file into DataFrame
df6 = pd.read_table('title.principals.tsv.gz')

# limit df size (number of rows printing)
# Your sheet size is: 3070387, 1 Max sheet size is: 1048576, 16384
df6 = df6[0:1048576] 
print(df6)

# drop rows with null values
df6.dropna()

# rename column titles to match attribute names --> old:new
df6.rename(columns = {'tconst':'movie_id', 'nconst':'actor'}, inplace = True) 

# columns to get rid of from this sheet: 
del df6['ordering']
del df6['category']
del df6['job']
del df6['characters']

df6 = df6.groupby(['movie_id'])['actor'].apply(list)

# create excel writer object
writer = pd.ExcelWriter('movies_test6.xlsx')
# write dataframe to excel
df6.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

            tconst  ordering     nconst         category  \
0        tt0000001         1  nm1588970             self
1        tt0000001         2  nm0005690         director
2        tt0000001         3  nm0374658  cinematographer
3        tt0000002         1  nm0721526         director
4        tt0000002         2  nm1335271         composer
...            ...       ...        ...              ...
1048571  tt0123115         2  nm0793679          actress
1048572  tt0123115         3  nm0437126            actor
1048573  tt0123115         4  nm0559182            actor
1048574  tt0123115         5  nm1199553         director
1048575  tt0123115         6  nm0462064         composer

                             job   characters
0                             \N     ["Self"]
1                             \N           \N
2        director of photography           \N
3                             \N           \N
4                             \N           \N
...                          ...          ...
1048571                       \N   ["Namiko"]
1048572                       \N  ["Masashi"]
1048573                       \N  ["Katchan"]
1048574                       \N           \N
1048575                       \N           \N

[1048576 rows x 6 columns]
DataFrame is written successfully to Excel File.

In [21]:
# merge dataframes with relevant columns
df_merge = pd.merge(df1, df2, on=['movie_id'])
df_merge1 = pd.merge(df_merge, df4, on=['movie_id'])
df_merge2 = pd.merge(df_merge1, df5, on=['movie_id'])
df_merge3 = pd.merge(df_merge2, df6, on=['movie_id'])

#print(df_merge1)

# print dataframe
writer = pd.ExcelWriter('movies.xlsx') 
# write dataframe to excel
df_merge3.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

In [22]:
# Movies relational table
# after edits in excel, split actors into movie_id
# Convert columns of interest to list columns 

df20 = pd.read_excel('movies_reformat.xlsx')

print(df20['actor'][0])
df20['actor']      = df20['actor'].str.split(',')
# Explode the entire data frame
df20 = df20.apply( pd.Series.explode )

nm0063086, nm0183823, nm1309758, nm0085156

In [23]:

#df20 = df20[0:150000] 
print(df20)
# print dataframe
writer = pd.ExcelWriter('movies_relational.xlsx') 
# write dataframe to excel
df20.to_excel(writer)
# save the excel
writer.save()
print("completed")

       Unnamed: 0   movie_id                   movie_name country   director  \
0               0  tt0000009                   Miss Jerry      US  nm0085156
0               0  tt0000009                   Miss Jerry      US  nm0085156
0               0  tt0000009                   Miss Jerry      US  nm0085156
0               0  tt0000009                   Miss Jerry      US  nm0085156
1               1  tt0000574  The Story of the Kelly Gang      US  nm0846879
...           ...        ...                          ...     ...        ...
44746       44746  tt0123114           In the Winter Dark      US  nm0091824
44746       44746  tt0123114           In the Winter Dark      US  nm0091824
44746       44746  tt0123114           In the Winter Dark      US  nm0091824
44746       44746  tt0123114           In the Winter Dark      US  nm0091824
44746       44746  tt0123114           In the Winter Dark      US  nm0091824

       release_year length                       genre  ratings       actor
0              1894     45                     Romance      5.2   nm0063086
0              1894     45                     Romance      5.2   nm0183823
0              1894     45                     Romance      5.2   nm1309758
0              1894     45                     Romance      5.2   nm0085156
1              1906     70  Action,Adventure,Biography      6.0   nm0675239
...             ...    ...                         ...      ...         ...
44746          1998     92        Drama,Horror,Mystery      6.0   nm0091824
44746          1998     92        Drama,Horror,Mystery      6.0   nm0711403
44746          1998     92        Drama,Horror,Mystery      6.0   nm0936090
44746          1998     92        Drama,Horror,Mystery      6.0   nm0088414
44746          1998     92        Drama,Horror,Mystery      6.0   nm0167838

[434696 rows x 10 columns]
completed

In [ ]:
# TV TABLE BELOW

In [32]:
# title.akas.tsv.gz to get movie_id, movie_name, country

# Read TSV file into DataFrame
df12 = pd.read_table('title.akas.tsv.gz')
#print(df)

# Error: Your sheet size is: 33475127, 8 Max sheet size is: 1048576, 16384
# drop rows but still get 30 million rows
df12 = df12[0:20000000] 
print(df12)

# drop rows with null values
df12.dropna()

# rename column titles to match attribute names --> old:new
df12.rename(columns = {'titleId':'show_id', 'title':'show_name', 'region':'country'}, inplace = True)


# delete rows with movie_id duplicates and keep US version
duplicates = df12.duplicated(subset=['show_id'])
if duplicates.any():
    deleteRow = df12[df12['country'] != 'US'].index
    df12.drop(deleteRow, inplace=True)
    # if duplicates in movie_id still, then keep the first one 
    df12 = df12.sort_values('ordering', ascending=False).drop_duplicates('show_id').sort_index()
    
# columns to get rid of from this sheet:
del df12['ordering']
del df12['language']
del df12['types']
del df12['attributes']
del df12['isOriginalTitle']

print(df12)

# create excel writer object
writer = pd.ExcelWriter('movies_test12.xlsx') 
# write dataframe to excel
df12.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

C:\Users\isabe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             titleId  ordering                              title region  \
0          tt0000001         1                         Карменсіта     UA
1          tt0000001         2                         Carmencita     DE
2          tt0000001         3          Carmencita - spanyol tánc     HU
3          tt0000001         4                         Καρμενσίτα     GR
4          tt0000001         5                         Карменсита     RU
...              ...       ...                                ...    ...
19999995  tt20855578         2  21 अप्रैल 2022 को प्रसारित एपिसोड     IN
19999996  tt20855578         3    Épisode datant du 21 avril 2022     FR
19999997  tt20855578         4           Folge vom 21. April 2022     DE
19999998  tt20855578         5                  2022年4月21日 のエピソード     JP
19999999  tt20855578         6     Episodio fechado 21 abril 2022     ES

         language        types     attributes isOriginalTitle
0              \N  imdbDisplay             \N               0
1              \N           \N  literal title               0
2              \N  imdbDisplay             \N               0
3              \N  imdbDisplay             \N               0
4              \N  imdbDisplay             \N               0
...           ...          ...            ...             ...
19999995       hi           \N             \N               0
19999996       fr           \N             \N               0
19999997       de           \N             \N               0
19999998       ja           \N             \N               0
19999999       es           \N             \N               0

[20000000 rows x 8 columns]
             show_id                                          show_name  \
5          tt0000001                                         Carmencita
14         tt0000002                             The Clown and His Dogs
33         tt0000005                                   Blacksmith Scene
47         tt0000006                                  Chinese Opium Den
56         tt0000007                     Jim Corbett vs. Peter Courtney
...              ...                                                ...
19999901  tt20855470                                 Chernobyl Disaster
19999917   tt2085549                                      Taylor Branch
19999926  tt20855512  2019 WFA Game of the Week Minnesota at Kansas ...
19999957  tt20855552   2019 WFA Game of the Week Minnesota at Wisconsin
19999980  tt20855572                                                 8a

         country
5             US
14            US
33            US
47            US
56            US
...          ...
19999901      US
19999917      US
19999926      US
19999957      US
19999980      US

[753812 rows x 3 columns]

Exception ignored in: <function ZipFile.__del__ at 0x000002070D58EB80>
Traceback (most recent call last):
  File "C:\Users\isabe\anaconda3\lib\zipfile.py", line 1807, in __del__
    self.close()
  File "C:\Users\isabe\anaconda3\lib\zipfile.py", line 1824, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

DataFrame is written successfully to Excel File.

In [33]:
# title.basics.tsv.gz for show_id, release_year, genre, length

# Read TSV file into DataFrame
df7 = pd.read_table('title.basics.tsv.gz')
#print(df7)

# limit df size (number of rows printing)
# Your sheet size is: 9297065, 4 Max sheet size is: 1048576, 16384
df7 = df7[0:1048576] 
print(df7)

# drop rows with null values
df7.dropna()

# rename column titles to match attribute names --> old:new
df7.rename(columns = {'tconst':'show_id', 'startYear':'release_year', 'runtimeMinutes':'length', 'genres':'genre'}, inplace = True)

# drop rows with titleType not as tvEpisode or tvSeries 
df7.drop(df7[df7['titleType'] != 'tvSeries'].index, inplace=True)
    
# columns to get rid of from this sheet: 
#del df7['titleType']
del df7['primaryTitle']
del df7['originalTitle']
del df7['isAdult']
del df7['endYear']

# create excel writer object
writer = pd.ExcelWriter('movies_test7.xlsx') 
# write dataframe to excel
df7.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

C:\Users\isabe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             tconst  titleType            primaryTitle  \
0         tt0000001      short              Carmencita
1         tt0000002      short  Le clown et ses chiens
2         tt0000003      short          Pauvre Pierrot
3         tt0000004      short             Un bon bock
4         tt0000005      short        Blacksmith Scene
...             ...        ...                     ...
1048571  tt10145456  tvEpisode           Episode #1.27
1048572  tt10145458  tvEpisode           Episode #1.28
1048573   tt1014545  tvEpisode            El secuestro
1048574  tt10145460  tvEpisode           Episode #1.29
1048575  tt10145462  tvEpisode           Episode #1.30

                  originalTitle isAdult startYear endYear runtimeMinutes  \
0                    Carmencita       0      1894      \N              1
1        Le clown et ses chiens       0      1892      \N              5
2                Pauvre Pierrot       0      1892      \N              4
3                   Un bon bock       0      1892      \N             12
4              Blacksmith Scene       0      1893      \N              1
...                         ...     ...       ...     ...            ...
1048571           Episode #1.27       0      2014      \N             \N
1048572           Episode #1.28       0      2014      \N             \N
1048573            El secuestro       0      2004      \N             \N
1048574           Episode #1.29       0      2014      \N             \N
1048575           Episode #1.30       0      2014      \N             \N

                           genres
0               Documentary,Short
1                 Animation,Short
2        Animation,Comedy,Romance
3                 Animation,Short
4                    Comedy,Short
...                           ...
1048571                     Drama
1048572                     Drama
1048573                    Comedy
1048574                     Drama
1048575                     Drama

[1048576 rows x 9 columns]
DataFrame is written successfully to Excel File.

In [34]:
# title.crew.tsv.gz to get director, movie_id

# Read TSV file into DataFrame
df9 = pd.read_table('title.crew.tsv.gz')

# limit df size (number of rows printing)
#Your sheet size is: 9297065, 9 Max sheet size is: 1048576, 16384
df9 = df9[0:1048576]  
print(df9)

# drop rows with null values
df9.dropna()

# rename column titles to match attribute names --> old:new
df9.rename(columns = {'tconst':'show_id', 'directors':'director'}, inplace = True)

# columns to get rid of from this sheet: 
del df9['writers']

print(df9)

# create excel writer object
writer = pd.ExcelWriter('movies_test9.xlsx') 
# write dataframe to excel
df9.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

             tconst                      directors  \
0         tt0000001                      nm0005690
1         tt0000002                      nm0721526
2         tt0000003                      nm0721526
3         tt0000004                      nm0721526
4         tt0000005                      nm0005690
...             ...                            ...
1048571  tt10145456                      nm0348485
1048572  tt10145458                      nm0348485
1048573   tt1014545  nm1656218,nm0148681,nm0604037
1048574  tt10145460                      nm0348485
1048575  tt10145462                      nm0348485

                                                   writers
0                                                       \N
1                                                       \N
2                                                       \N
3                                                       \N
4                                                       \N
...                                                    ...
1048571            nm5744244,nm6415457,nm6446509,nm6415456
1048572            nm5744244,nm6415457,nm6446509,nm6415456
1048573  nm0604037,nm1459402,nm1644600,nm0246511,nm2730762
1048574            nm5744244,nm6415457,nm6446509,nm6415456
1048575            nm5744244,nm6415457,nm6446509,nm6415456

[1048576 rows x 3 columns]
            show_id                       director
0         tt0000001                      nm0005690
1         tt0000002                      nm0721526
2         tt0000003                      nm0721526
3         tt0000004                      nm0721526
4         tt0000005                      nm0005690
...             ...                            ...
1048571  tt10145456                      nm0348485
1048572  tt10145458                      nm0348485
1048573   tt1014545  nm1656218,nm0148681,nm0604037
1048574  tt10145460                      nm0348485
1048575  tt10145462                      nm0348485

[1048576 rows x 2 columns]
DataFrame is written successfully to Excel File.

In [35]:
# title.ratings.tsv.gz for ratings

# Read TSV file into DataFrame
df10 = pd.read_table('title.ratings.tsv.gz')
#print(df2)

# limit df size (number of rows printing)
# Your sheet size is: 1237940, 2 Max sheet size is: 1048576, 16384
df10 = df10[0:1048576] 
print(df10)

# drop rows with null values
df10.dropna()

# rename column titles to match attribute names --> old:new
df10.rename(columns = {'tconst':'show_id', 'averageRating':'ratings'}, inplace = True)
  
# columns to get rid of from this sheet: 
del df10['numVotes']

# create excel writer object
writer = pd.ExcelWriter('movies_test10.xlsx') 
# write dataframe to excel
df10.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

            tconst  averageRating  numVotes
0        tt0000001            5.7      1919
1        tt0000002            5.8       260
2        tt0000003            6.5      1725
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1048571  tt5563752            7.8         7
1048572  tt5563764            6.0        42
1048573  tt5563782            4.9      2592
1048574  tt5563806            7.8        11
1048575  tt5563862            4.7      1251

[1048576 rows x 3 columns]
DataFrame is written successfully to Excel File.

In [36]:
# title.principals.tsv.gz for actors

# Read TSV file into DataFrame
df11 = pd.read_table('title.principals.tsv.gz')

# limit df size (number of rows printing)
# Your sheet size is: 3070387, 1 Max sheet size is: 1048576, 16384
df11 = df11[0:1048576] 
print(df11)

# drop rows with null values
df11.dropna()

# rename column titles to match attribute names --> old:new
df11.rename(columns = {'tconst':'show_id', 'nconst':'actor'}, inplace = True) 

# columns to get rid of from this sheet: 
del df11['ordering']
del df11['category']
del df11['job']
del df11['characters']

df11 = df11.groupby(['show_id'])['actor'].apply(list)

# create excel writer object
writer = pd.ExcelWriter('movies_test11.xlsx')
# write dataframe to excel
df11.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

            tconst  ordering     nconst         category  \
0        tt0000001         1  nm1588970             self
1        tt0000001         2  nm0005690         director
2        tt0000001         3  nm0374658  cinematographer
3        tt0000002         1  nm0721526         director
4        tt0000002         2  nm1335271         composer
...            ...       ...        ...              ...
1048571  tt0123115         2  nm0793679          actress
1048572  tt0123115         3  nm0437126            actor
1048573  tt0123115         4  nm0559182            actor
1048574  tt0123115         5  nm1199553         director
1048575  tt0123115         6  nm0462064         composer

                             job   characters
0                             \N     ["Self"]
1                             \N           \N
2        director of photography           \N
3                             \N           \N
4                             \N           \N
...                          ...          ...
1048571                       \N   ["Namiko"]
1048572                       \N  ["Masashi"]
1048573                       \N  ["Katchan"]
1048574                       \N           \N
1048575                       \N           \N

[1048576 rows x 6 columns]
DataFrame is written successfully to Excel File.

In [38]:
# merge dataframes with relevant columns
df_merge4 = pd.merge(df12, df7, on=['show_id'])
df_merge5 = pd.merge(df_merge4, df9, on=['show_id'])
df_merge6 = pd.merge(df_merge5, df10, on=['show_id'])
df_merge7 = pd.merge(df_merge6, df11, on=['show_id'])

#print(df_merge1)

# print dataframe
writer = pd.ExcelWriter('shows.xlsx') 
# write dataframe to excel
df_merge7.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

In [39]:
# reformat data by filtering on tvshows and tvepisodes for type
df71 = pd.read_excel('shows_reformatted.xlsx')

print(df71['actor'][0])
df71['actor']      = df71['actor'].str.split(',')
# Explode the entire data frame
df71 = df71.apply( pd.Series.explode )


#df71 = df71[0:150000] 
print(df71)
# print dataframe
writer = pd.ExcelWriter('shows_relational.xlsx') 
# write dataframe to excel
df71.to_excel(writer)
# save the excel
writer.save()
print("completed")

nm0324305, nm0351425, nm0381523, nm0386944, nm2233358, nm0615907, nm0804732
        show_id                 show_name country titleType  release_year  \
0     tt0035803  The German Weekly Review      US  tvSeries          1940
0     tt0035803  The German Weekly Review      US  tvSeries          1940
0     tt0035803  The German Weekly Review      US  tvSeries          1940
0     tt0035803  The German Weekly Review      US  tvSeries          1940
0     tt0035803  The German Weekly Review      US  tvSeries          1940
...         ...                       ...     ...       ...           ...
3627  tt0122841                      Vibe      US  tvSeries          1997
3627  tt0122841                      Vibe      US  tvSeries          1997
3627  tt0122841                      Vibe      US  tvSeries          1997
3627  tt0122841                      Vibe      US  tvSeries          1997
3627  tt0122841                      Vibe      US  tvSeries          1997

     length                   genre   director  ratings       actor
0        12        Documentary,News         \N      8.0   nm0324305
0        12        Documentary,News         \N      8.0   nm0351425
0        12        Documentary,News         \N      8.0   nm0381523
0        12        Documentary,News         \N      8.0   nm0386944
0        12        Documentary,News         \N      8.0   nm2233358
...     ...                     ...        ...      ...         ...
3627     60  Comedy,Music,Talk-Show  nm0298400      5.8   nm0601666
3627     60  Comedy,Music,Talk-Show  nm0298400      5.8   nm0001264
3627     60  Comedy,Music,Talk-Show  nm0298400      5.8   nm0000680
3627     60  Comedy,Music,Talk-Show  nm0298400      5.8   nm0000609
3627     60  Comedy,Music,Talk-Show  nm0298400      5.8   nm0686818

[35050 rows x 10 columns]
completed